@import "variables";

.App {
  display: flex;
  flex-direction: column;
  background-color: "#fff";
  height: 100vh;

  &__ {
    &Header {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &ImageHolder {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &Button {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    &Footer {
      padding-top: 1rem;
      padding-bottom: 1rem;
      margin-top: auto;
      align-self: center;
    }
  }
}
