.image-holder{
    display: block;
    width: 100%;
    &__{
        &img{
            max-width: 100%;
            width: 100%;
            height: 60vw;
            max-height: 400px;
        }
    }
}